#slider{
    animation: slide-fade 20s infinite;
}
@keyframes slide-fade {
    0% {
        background-image: url('banner1.png');
        opacity: 1;
    }
    50% {
        background-image: url('banner2.png');
        opacity: 1;
    }
    100% {
        background-image: url('banner3.png');
        opacity: 1;
    }
}