@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.container .logo img{
    width: 150px;
}
.container .left {
    background-color: #860000;
    text-align: center;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.container .right {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align:start
}
.container form .input-group input{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 0 10px;
    border-radius: 5px;
    padding-left: 40px;
}

.container form .input-group input:focus{
    outline: none;
    border-bottom: 2px solid #c50101;
}
.container form .input-group label{
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
    color: gray;
}
.container form .input-group .show{
    position: absolute;
    cursor: pointer;
    color: gray;
    right: 30px;
}

.container .checkbox-group{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.container .checkbox-group .forgot label a{
    color: #c50101;
    text-decoration: none;
    font-size: 14px;
}
.container .checkbox-group a{
    color: #c50101;
    text-decoration: none;
    font-size: 14px;

}
.container form button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #860000;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
    transition: 0.3s ease-in-out;
}
.container form button:hover{
    transition: 0.3s ease-in-out;
    background-color: #686868;
}
.container .signip-link{
    margin-top: 10px;
    font-size: 14px;
}
.container .signup-link .google{
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    color: rgb(49, 49, 49);
    border: 1px solid gray;
    text-align: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.container .signup-link .google:hover{
    transition: 0.3s ease-in-out;
    border: #c50101 1px solid;
}
.container .signup-link .google span{
    margin-left: 10px;
    font-size: medium;
}
.container .signup-link p{
    text-align: center;
}
.container .signup-link a{
    color: #860000;
    font-weight: bold;
    text-decoration: none;
}
.container .right .continue{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px 0;
    font-size: 14px;
}
.container .right .continue span{
    margin: 0 10px;
    width: 70px;
    color: gray;
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .container .left, .container .right {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    .container form .input-group input{
        width: 80%;
    }
    .container .signup-link .google{
        width: 80%;
    }
    .container form .input-group .show{
    position: absolute;
    cursor: pointer;
    color: gray;
    left: 205px;
    top: -60px;
    
    }
    .container .signup-link .google{
        width: 100%;
    }
}